.mainContainer {
    margin-top: 1rem;
}

.titleDiv {
    height: 4rem;
    text-align: center;
}

.blendsContainer {
    display: flex;
    align-items: center;
}

.tabsWindow {
    width: 11.5rem;
    overflow: hidden;
    margin: 0 auto;
}

.tabsContainer {
    width: 34.5rem;
    display: flex;
    text-align: center;
    transition: translate 1s ease-in;
    transform: translate(0);
}

@media (min-width: 768px) {
    .tabsWindow {
        width: 100%;
    }

    .tabsContainer {
        width: 100%;
        justify-content: space-evenly;
    }
}

.arrow {
    height: 4rem;
    width: 1.2rem;
    margin: 0 auto 0 auto;
}
