.mainContainer {
    margin-top: 1rem;
}

.titleDiv {
    height: 4rem;
    text-align: center;
}

.blendsContainer {
    display: flex;
    align-items: center;
}

.tabsWindow {
    width: 12rem;
    overflow: hidden;
    margin: 0 auto;
}

.tabsContainer {
    width: 36rem;
    display: flex;
    text-align: center;
}

.arrow {
    height: 6rem;
    width: 1.2rem;
    margin: 0 auto 0 auto;
}
